{{ define "main" }} {{ partial "header" . }}

<title>{{ .Title }} {{ default "::" .Site.Params.titleSeparator }} {{ .Site.Title }}</title>

<section id="about">
    <div class="container">
        <div class="avatar mb-5">
            <h3>Hello there!</h3>
            </b>
            </b>
            </b>
            <img class="w3-card-4" src="{{ .Site.Params.avatar }}" alt="Responsive image">
            <h5>Welcome on my site!</h5>
        </div>
        {{ .Content }} {{ partial "social.html" . }}
    </div>
</section>
{{ end }}